<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Just To-Do It!</title>
    </head>
    <body>
        Why do something when you can just To-Do it?

        <ul class="items">
            <%for(var i=0; i<items.length; i++) {
                if(items[i].cookie === currentCookie){%>
                    <li class="item">
                        <span><%= items[i].item %></span>
                    </li>
            <%
                }
            } %>
        </ul>

        <form action="/addItem" method="POST">
            <input id="cookieField" hidden="true" type="text" name="cookie" value="">
            <input id="_deleted" hidden="true" type="text" name="deleted" value="false">
            <input type="text" placeholder="[Enter To-Do]" name="item">
            <button type="submit">Submit</button>
        </form>

        <script src="main.js"></script>
    </body>
</html>
